Source: mender-shell
Maintainer: Mender Team <mender@northern.tech>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: mender-shell
Conflicts: mender
Architecture: any
Depends: libc6 (>= 2.12), libglib2.0-0 (>=2.50)
Description: Mender Shell
 Mender is an open source over-the-air (OTA) software updater for embedded Linux devices.
